# always ignore synthdefs, or not?
assets/*.scsyndef
# ignore eclipse local config
.settings/**
.classpath
# ignore paths to be generated during build
bin/**
gen/**/*
libs/**/*
obj/**/*
tests/bin/**/*
tests/gen/**/*
default.properties
# ignore mac cruft
.DS_Store

